<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjyt.asset.management.mapper.DingDingMapper">

    <insert id="addDingDingEven" parameterType="DingDingEvent">
        insert into dingding_event
        (process_instance_id,message,time)
        values (#{processInstanceId},#{message},#{time})
    </insert>

    <insert id="addManagementDingDing" parameterType="ManagementDingDing">
        insert into management_dingding
        (code,process_instance_id)
        values
        (#{code},#{processInstanceId})
    </insert>

    <select id="getCode" resultType="String">
        select code from management_dingding
        where process_instance_id = #{processInstanceId}
    </select>
</mapper>